$authButtonBg: yellow;
$authSecond: #cccccc;
$authError: #fb7c7c;
$authError: #fb7c7c;
$authBgcontent: whitesmoke;
$authButtonLogin: #284ffb;
$authFirstGreen: #11c55c;
$authButtonYellow: #e4d50d;

$homeWelcomeBg: #ffffff4f;
$homeFont: #00c2ae;
$homeFontDark: #333;

$navBarBorder: #00c2af44;
$navBarBorder2: #33406e1e;
$navBarBorder3: #2d3861;
$navBarBackground: #ffffff4d;
$navBarHoverBackground: #d6d6d6;
$navBarFont: #33406e;
